/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Header */
header {
    background-color: lightcyan;
}
/* Main Content*/
main {
    background-color: lightseagreen;
}
/* Footer */
footer {
    background-color: lightslategray;
}