/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:wght@300&family=Young+Serif&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #666666;
  font-family: "Gabarito", sans-serif;
}

h1 {
  font-family: "Young Serif", serif;
  letter-spacing: 3px;
  color: #ffffff;
}

h2,
h3 {
  font-family: "Gabarito", sans-serif;
  letter-spacing: 1px;
  color: #666666;
}

/* Header */
header {
  background-color: rgb(0, 0, 0);
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

#menu {
  font-size: 120%;
  list-style-type: none;
  margin-top: 20px;
}

#menu > li {
  margin-bottom: 30px;
}

.active {
  border-bottom: 0.5px solid #ffffff;
}

/* Navbar styles with droppdown toggle */
nav {
  position: absolute;
  background-color: black;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main Content*/
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 45px;
}
/* Hero Section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}

#cover-text {
    font-size: 180%;
    position: absolute;
    bottom: 30px;
    min-height: 200px;
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Blog Page */
#banner {
    height: 600px;
    width: 100%;
    background: url("../images/banner.webp") no-repeat center center/cover;
    position: relative;
  }

.blog-img img{
    width: 100%;
    padding:0 1rem;
}
/*
.blog {
    background: #8c4949;
    padding: 4.5rem 0;
}
*/
.blog-content {
    margin: 2rem 0;
}
/*
.blog-img {
    position: relative;
}
*/
.blog-text {
    margin: 2.2rem 0;
    padding:0 1rem;
}

.blog-text span {
    font-family:"Poppin", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    padding-bottom:0.5rem;
}

.blog-text h3{
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight:500;
}

.blog-text p{
    font-family:"Poppin", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom:1.2rem;
}

.blog-text a{
    font-family:"Gabarito", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color:#666666;
    display: inline-block;
    background: #666666;
    color: #ffffff;
    padding:0.55rem 1.2rem;
    transition: all 0.5s ease;
}

.blog-text a:hover{
    background:#0d0d0d;
}
 
/* Footer */
footer {
  background-color: black;
}
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 2rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 320%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content down to accomodate larger header */
    margin-top: 90px;
  }

  #cover-text {
    font-size: 240%;
    bottom: 50px;
  }
}
/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 0.5px solid #ffffff;
  }

 
}
