/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:wght@300&family=Young+Serif&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Gabarito', sans-serif;
}

/* Header */
header {
  background-color: black;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

h1 { 
    font-family: 'Young Serif', sans-serif;
    letter-spacing: 2px;
    color: #ffffff
}

#menu {
    text-transform: uppercase;
    font-size : 120%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 10px;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* Main Content*/
main {
  background-color: lightseagreen;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}

/* Footer */
footer {
  background-color: lightslategray;
}
